
<div class="hero-unit">
<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @category.category_id %>
</p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<% @products = Product.find_by_sql("SELECT * FROM products WHERE category_id = " + @category.category_id.to_s)
  @products.each do |product|
%>

<p><%= product.name %>
<%= link_to "Add to cart", {:controller => "carts", :action => "new", :p => product.id }%> |
<%= link_to 'View Product', product %>
</p>
<% end %>
</div>
