<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
<div class = "container" >
  <%= render 'layouts/search' %>
  <%= render 'layouts/breadcrumb' %>
  <%= render 'layouts/menu' %>
  <div id = "content">
    <%= yield %>
  </div>
  <div class = "clear-float"></div>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
